body{
  background: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
	padding: 0px;
}

.start{
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  position: fixed;
  left: 20%;
  top: 20%;
  z-index: 1000;
}

.soundBoxContainer{
 width: 1000px;
 height: 480px;
 position: absolute;
 left: 0;
 right: 0;
}

div[class^="soundBox-"] {
  width: 400px;
  height: 400px;
  background: yellow;
  position: absolute;
  color: yellow;

  font-weight: 400;
}
